@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
    font-family: 'Mukta', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: antiquewhite;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(43, 43, 43);
    z-index: -1;
}

a {
    color: inherit;
}

header {
    font-size: 1.8em;
    line-height: 2.8em;
    color:rgb(58, 255, 101);
}

.navbar-doc {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navbar-header {
    text-align: center;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 12em;
    list-style: none;
    border-style: solid;
    border-width: 0.1em;
    border-color: hsl(0, 0%, 60%);
    padding-left: 0;
}

.navbar-list-item {
    display: flex;
    flex-direction: column;
}

.navbar-list-item::before {
    content: '';
    width: 100%;
    height: 0.1em;
    background-color: hsl(0, 0%, 20%);
}

.nav-link {
    color: rgb(157, 196, 196);
    font-style: normal;
    text-decoration: none;
    padding: 0.45em;
    
}

.main-doc {
    padding: 1em 0.5em 0.5em 0.5em;
}

@media (min-width: 1023px) {
    .navbar-doc {
        position: fixed;
        width: 400px;
        height: 100%;
        border-style: solid;
        border-width: 0em;
        border-right-width: 0.2em;
        border-color: hsl(0, 0%, 60%);
    }

    .navbar-list {
        height: auto;
        overflow-y: auto;
        border: 0;
    }
    
    .main-doc {
        position: relative;
        margin-left: 450px;
        padding: 2em 2em 1em 1em;
    }
}

p {
    text-align: justify;
}
/* 
p::before {
    content: '  ';
    white-space: pre;
} */

pre {
    background-color: rgb(49, 54, 68);
    padding-left: 2em;
    border-width: 0.2em;
    border-radius: 3px;
    border-style: ridge;
    border-color: aqua;
    white-space: pre-wrap;
    overflow-x: auto;
}

code {
    text-align: left;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

iframe {
    margin: auto;
    max-width: 100%;
    margin-top: 1.5em;
}